[Desktop Entry]
Categories=Ocr;
Comment=Durian ocr
Exec=durian-ocr %F
GenericName=durian cor
Icon=durian-ocr
Name=durian Ocr
Type=Application

# Translations:
# Do not manually modify!
Comment[zh_CN]=榴莲OCR
GenericName[zh_CN]=榴莲OCR
Name[zh_CN]=榴莲OCR
